<!DOCTYPE html>
<html lang="en">
    {% include "header.html" %}
    <body>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{url_for('static',filename= 'img/about-bg.jpg')}})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>=
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>I am a dynamic and perceptive individual passionate about computer science, hailing from Nigeria. I thoroughly enjoy learning various programming languages as they offer limitless potential to tackle problems. </p>
                        <p>Through a multitude of projects, I have gained a comprehensive understanding of how to apply technology to enhance the opportunities of businesses and other industries. These endeavors fuel my enthusiasm and energy towards adopting new perspectives and embracing new challenges.</p>
                        <p>Feel free to check out my online portfolio <a href="https://racoolstudio.github.io/myCV/">here</a>.</p>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
    {% include "footer.html" %}
    </body>
</html>
