<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}
    <body>
        <!-- Page Header-->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/home-bg.jpg') }})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Racool Blog</h1>
                            <span class="subheading">Unleashing the coolest perspectives on life, tech, and culture</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

<!--                    output the blog data -->
                    {% for blog in data%}
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{{url_for('loadBlog',num=blog)}}">
                            <h2 class="post-title">{{data[blog]['title']}}</h2>
                            <h3 class="post-subtitle">{{data[blog]['subtitle']}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">{{data[blog]['author']}}</a> on {{data[blog]['date']}}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}

                                       <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
       <!-- Footer-->
       {% include 'footer.html'%}
    </body>
</html>
