<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>Racool's Blog</h1></div>
    </div>
<!--    accessing the data -->
    {% for blog in data: %}
    <div class="content">
        <div class="card">
            <h2>{{data[blog]["title"]}}</h2>
            <p class="subtitle">{{data[blog]["subtitle"]}} </p>
<!--            using jinja template to build unique url for a function    -->
<!--this generates a link, and you can pass parameters then base on the parameter, you can generate a unique page-->
            <a href="{{url_for('loadBlog',num=blog)}}">Read</a>
        </div>
    </div>
    {% endfor %}
</div>
</body>
<footer>
    <p>Copyright @ {{year}} by Ridwan_Abdulwaheed</p>
</footer>
</html>
